.imageContainer {
  position: relative;
  display: inline-block;
}

.downloadButton {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.imageContainer:hover .downloadButton {
  display: block;
}

.imageContainer:hover img {
  opacity: 0.8;
}
.bgImage {
  width: 50%;
  opacity:0.9;
}

.bgText {
  margin-right: 5%;
  color: rgb(41, 40, 40);
}

.gradientText {
  background-image: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Responsive */
@media (max-width: 900px) {
  .imageSection {
    flex-direction: column;
  }
  .bgImage {
  width: 95%;
  opacity:0.9;
}
}